  <!-- Header-->
  <header class="bg-dark py-5" style="background-image: url('assets/img/banner.jpg');
  background-position: center; background-repeat: no-repeat; height: 400px; position: relative;
  background-size: cover;">
      <!-- <div class="container px-4 px-lg-5 my-5">
          <div class="text-center text-white">
              <h1 class="display-4 fw-bolder">Studio - Chụp hình thẻ Như </h1>
              <p class="lead fw-normal text-white-50 mb-0">Ảnh đẹp của mọi người</p>
          </div>
      </div> -->
  </header>