<section class="container text-center">
    <h5 class="title-main">Các bước thực hiện chụp ảnh tại Studio Như</h5>
    <img src="assets/img/datLich.png" alt="đặt lịch">
    <i class="fa-solid fa-caret-right"></i>
    <img src="assets/img/den.png" alt="đến Studio">
    <i class="fa-solid fa-caret-right"></i>
    <img src="assets/img/trangdiem.png" alt="Trang điểm">
    <i class="fa-solid fa-caret-right"></i>
    <img src="assets/img/chupHinh.png" alt="Chụp hình">
    <i class="fa-solid fa-caret-right"></i>
    <img src="assets/img/chonHinh.png" alt="Chọn hình">
    <i class="fa-solid fa-caret-right"></i>
    <img src="assets/img/chinhAnh.png" alt="Chỉnh hình">
    <i class="fa-solid fa-caret-right"></i>
    <img src="assets/img/layAnh.png" alt="Lấy hình">
</section>