<section class="container">
    <div class="title-main">DỊCH VỤ NỔI BẬT</div>
    <!--Tab-->
    <button class="tablink" onclick="openPage('anhThe')" id="defaultOpen">CHỤP ẢNH THẺ</button>
    <button class="tablink" onclick="openPage('profile')" >PROFILE</button>
    <button class="tablink" onclick="openPage('Concept')">CHỤP ẢNH CONCEPT</button>
    <button class="tablink" onclick="openPage('anhCuoi')">ẢNH CƯỚI</button>
    <!-- Ảnh thẻ -->
    <div id="anhThe" class="tabcontent">
      <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
        <div class="text-center">
          <img src="assets/img/anhthe1.jpg" alt="Ảnh thẻ">
          <h5 class="p-4 fw-bolder">Chụp ảnh thẻ</h5>
          <button type="button" class="btn btn-outline-primary">Xem chi tiết</button>
        </div>
      </div>
    </div>
    <!-- Ảnh cưới -->
    <div id="anhCuoi" class="tabcontent">
      <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
        <div class="text-center">
          <img src="assets/img/anhcuoi.png" alt="Ảnh cưới">
          <h5 class="p-4 fw-bolder">Ảnh cưới</h5>
          <button type="button" class="btn btn-outline-primary">Xem chi tiết</button>
        </div>
      </div>
    </div>
    <!-- Ảnh Profile -->
    <div id="profile" class="tabcontent">
      <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
        <div class="text-center">
          <img src="assets/img/profile.png" alt="Ảnh profile">
          <h5 class="p-4 fw-bolder">Ảnh Profile</h5>
          <button type="button" class="btn btn-outline-primary">Xem chi tiết</button>
        </div>
      </div>
    </div>
    <!-- Ảnh concept -->
    <div id="Concept" class="tabcontent">
      <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
        <div class="text-center">
          <img src="assets/img/concept.png" alt="Ảnh concept">
          <h5 class="p-4 fw-bolder">Ảnh Concept</h5>
          <button type="button" class="btn btn-outline-primary">Xem chi tiết</button>
        </div>
      </div>
    </div>
    <!-- Phục hồi ảnh -->
    <div id="phucCheAnh" class="tabcontent">
          <div class="img-comp-container">
            <div class="img-comp-img">
              <img src="assets/img/phuchoi1.png" width="300" height="200">
            </div>
            <div class="img-comp-img img-comp-overlay">
              <img src="assets/img/phuchoi2.png"  width="300" height="200">
            </div>
          </div>
      <div class="card-footer p-2 pt-0 border-top-0 bg-transparent">
        <div class="text-center">
          <h5 class="p-4 fw-bolder">Phục hồi ảnh </h5>
          <button type="button" class="btn btn-outline-primary">Xem chi tiết</button>
        </div>
      </div>
    </div>
</section>
