@charset "UTF-8";

/* Main */
:root{--color-red:#ec2d3f;--color-medium-red:#cc2c32;--color-dark-red:#c31829;--color-green:#28a745;--color-dark-green:#207d36;--color-black:#212529;--color-gray:#6c757d;--color-main: #004D9D;}
body{font-size:14px;font-family: 'Roboto', sans-serif;top: 0 !important;}
img { max-width: 100%; height: auto; vertical-align: top; -webkit-backface-visibility: hidden; -ms-transform: translateZ(0); -webkit-transform: translateZ(0); transform: translateZ(0); }
.text img{max-width:100%;height:auto !important;vertical-align:top;}
a,input,textarea{outline:none;padding:0px;}
a:hover{text-decoration: none}
input[type=number]::-webkit-outer-spin-button,input[type=number]::-webkit-inner-spin-button{-webkit-appearance:none;margin:0;}
.w-clear:after{display:block;content:"";clear:both;}
.hidden{display:none;}
.clear{clear:both;}
.none{display:none;}
.hidden-seoh{visibility:hidden;height:0px;margin:0px;overflow:hidden;}
.wrap-main,.wrap-content{max-width: 1220px;margin: 30px auto;padding:0px 10px;position: relative;z-index: 0;}
.wrap-home{max-width:100%;padding:0px;margin: 0}
.wrap-content{margin:auto;}
.logo-header img{transition: all 1s;height: 104px;}
/* General */
.time-main{margin-bottom:0.75rem;color:#999999;}
.time-main i{vertical-align:top;margin:3px 7px 0px 0px;}
.time-main span{vertical-align:top;display:inline-block;}
.social{list-style:none;padding:0px;margin:0px;display: flex;}
.social span{display: inline-block;margin-right: 5px;}
.social li{display:inline-block;margin: 0 5px;}
.social li a { display: block; transition: all 1s;}
.social li a:hover { display: block;transition: all 1s;transform: rotate(360deg) }
.social li a img{ display: block; }
.a2a_kit .a2a_svg{width: 30px;height: 30px;line-height: 30px;}
.social-header { margin-bottom: 10px; }
.content-main { color: #000; }
.img_top_detail{margin-bottom: 20px;text-align: center}
.img_top_detail img{max-width: 100%;}


.effect { display: block; overflow: hidden }
.effect img {transition: 0.7s;width: 100%;}
.effect:hover img { -webkit-transform: scale(1.2, 1.2); -moz-transform: scale(1.2, 1.2); -o-transform: scale(1.2, 1.2); -ms-transform: scale(1.2, 1.2); transform: scale(1.2, 1.2); }

/* title-main */
.title-main{position: relative;margin-bottom: 20px;text-align: center;}
.title-main span{color: var(--color-main);font-family: 'AvertaPELight';font-size: 36px;text-transform: uppercase;position: relative;}



/* Header */
.header {z-index: 99;position: sticky;top: 0px;}
.logo-header{display: inline-block;position: relative;z-index: 9;min-width: 150px;}
.header_top{background-color: var(--color-main);line-height: 47px;position: relative;z-index: 9;color: #fff;font-size: 14px;}
.header_top marquee { display: block; width: 50%; font-family: 'AvertaPEBold'; font-size: 20px; }
.btn-booking {display: inline-block; width: 170px; line-height: 40px; text-align: center; color: #079DCA; font-size: 16px; font-family: 'AvertaPEBold'; background: url('../images/book.png') no-repeat right 20px center ;padding-right: 30px;text-transform: uppercase;border: 1px solid #079DCA;}
.btn-booking:hover{color: red}
.header_bottom{background: #fff;position: relative;z-index: 99;background-size: cover;}


/*search*/
.click_search{color: #000;font-size: 18px;text-align: center;}
.frm_timkiem{display: none;position:  absolute;top: 85%;background:  #fff;width: 300px;z-index:  999;right:  0;line-height:  30px;border-radius: 3px;overflow: hidden;border: 1px solid var(--color-main);}
#timkiem{cursor:  pointer;position:  relative;float: right;}
#timkiem input[type="text"]{outline:none;background:none;border:none;height: 30px;width: calc(100% - 40px);padding: 0 10px;color: #000;}
#timkiem #btn{height: 30px;width: 40px;cursor:pointer;float:right;outline:none;border:none;background: var(--color-main);color:  #fff;font-size: 16px;}

/* Search RP */
.search-res{position:relative;display: none;}
.search-res .icon-search{width:40px;height:40px;cursor:pointer;text-align:center;line-height:42px;color:#fff;font-size: 22px;margin:0px;}
.search-res .icon-search.active{color: #065037;background:#fff;border-radius:100%;}
.search-res .search-grid{position: relative;max-width: 250px;width: 100%;height: 35px;overflow:hidden;background:#fff;z-index:2;border-radius:25px;line-height:normal;border: 1px solid var(--color-main);}
.search-res .search-grid p{float:left;width:35px;height: 35px;cursor:pointer;outline:none;border:none;margin:0px;font-size:17px;display:block;color: var(--color-main);line-height: 35px;text-align:center;}
.search-res .search-grid input{width:calc(100% - 35px);float:right;line-height: 35px;outline:none;border:none;color: #065037;}
.search-res .search-grid input::-webkit-input-placeholder{color:#ccc;}
.search-res .search-grid input:-moz-placeholder{color:#ccc;}
.search-res .search-grid input::-moz-placeholder{color:#ccc;}
.search-res .search-grid input:-ms-input-placeholder{color:#ccc;}

/* Menu */
.menu{width: 44%;z-index: 9;position: relative;line-height: 45px;}
.menu ul{padding:0px;margin:auto;list-style:none;width: 100%;}
.menu ul li a.active, .menu ul li > a:hover {color: var(--color-main);}
.menu ul li{z-index:99;display: inline-block;color: #fff;position: relative;}
.menu ul li a{position:relative;z-index:1;color: #282828;text-align:center;font-size: 16px;text-decoration:none!important;padding: 0 5px;text-transform: uppercase;display: flex;font-family: 'AvertaPE';}
.menu ul li ul{position:absolute;min-width: 250px;background: var(--color-main);box-shadow:0 3px 11px 0 rgba(0,0,0,0.1);-webkit-transform:perspective(600px) rotateX(-90deg);transform:perspective(600px) rotateX(-90deg);-webkit-transform-origin:0 0 0;transform-origin:0 0 0;opacity:0;visibility:hidden;transition:all .5s;top: 100%;left: 0;display: block;z-index: 99;margin: 0;padding: 0;}
.menu ul li:hover > ul{-webkit-transform:perspective(600px) rotateX(0);transform:perspective(600px) rotateX(0);-webkit-transform-origin:0 0 0;opacity:1;visibility:visible;transition:all .7s;}
.menu ul li ul li{width: 100%;line-height: unset;height: unset;background: none;display: block;}
.menu ul li ul li a{text-align:left;border-bottom: 1px solid rgb(15 97 183);border-radius: 0 !important;margin-top: 0;line-height: 40px;color: #fff;font-size: 14px;padding: 0 20px;}
.menu ul li ul li a:hover{color: yellow}
.menu ul li ul li:last-child > a{border-bottom:0px;}
.menu ul li ul li a h2{font-size:14px;padding:12px 15px;}
.menu ul li ul li ul{top:0px;left:100%;}


/* Menu RP */
.menu-res{display:none;height: 50px;z-index: 10;background: var(--color-main);position:relative;line-height:normal;}
.menu-bar-res{height: 50px;padding:0px 10px;display:-webkit-flex;display:-moz-flex;display:-ms-flex;display:-o-flex;display:flex;align-items:center;justify-content:space-between;}
.menu-bar-res ul{display: flex;margin-bottom: 0;height: 50px;font-family: 'SFUToledoMedium';text-transform: capitalize;font-size: 17px;align-items: center;justify-content: space-between}
.menu-bar-res ul li{list-style: none;padding: 0 10px;text-align: center}
.menu-bar-res ul li a{color: #fff;}

#menu{display:none;}
#hamburger{display:block;width: 35px;height:23px;position:relative;}
#hamburger:before,#hamburger:after,#hamburger span{background: #fff;content:'';display:block;width:100%;height:3px;position:absolute;left:0px;}
#hamburger:before{top:0px;}
#hamburger span{top:10px;}
#hamburger:after{top:20px;}
#hamburger:before,#hamburger:after,#hamburger span{-webkit-transition:none 0.5s ease 0.5s;transition:none 0.5s ease 0.5s;-webkit-transition-property:transform,top,bottom,left,opacity;transition-property:transform,top,bottom,left,opacity;}
.mm-wrapper_opening #hamburger:before,.mm-wrapper_opening #hamburger:after{top:10px;}
.mm-wrapper_opening #hamburger span{left:-50px;opacity:0;}
.mm-wrapper_opening #hamburger:before{transform:rotate(45deg);}
.mm-wrapper_opening #hamburger:after{transform:rotate(-45deg);}
.mm-menu_opened{display:block!important;}

/* Slideshow */
.slideshow{position:relative;}
.slideshow a{display:block;cursor:pointer;}
.slideshow a img{width:100%;}
.slideshow:hover .control-slideshow{opacity:0.3;}
.slideshow .control-slideshow:hover{opacity:0.8;}
.control-slideshow{opacity:0;position:absolute;z-index:2;top:calc(50% - 50px/2);width:35px;height:50px;text-align:center;line-height:50px;font-size:25px;cursor:pointer;margin:0px;background-color:#000000;border-radius:3px;}
.control-slideshow i{color:#ffffff;}
.prev-slideshow{left:20px;padding-right:3px;}
.next-slideshow{right:20px;padding-left:3px;}
.slideshow:hover .criteria{z-index: 99}

/* Breadcrumb */
.breadCrumbs{background-color:#eee;}
.breadCrumbs .wrap-content{padding:0.75rem 10px;max-width:1200px;}
.breadCrumbs .wrap-content .breadcrumb{padding:0;margin-bottom:0;background-color:transparent;border-radius:0;}
.breadCrumbs .wrap-content .breadcrumb-item a{color:var(--color-black);}
.breadCrumbs .wrap-content .breadcrumb-item.active a{color:var(--color-gray);}

/* Sản Phẩm */
.row10{margin-left: -10px;margin-right: -10px;}
.row7{margin-left: -7px;margin-right: -7px;}

/* Toc */
.box-readmore{padding:8px 15px;border:1px solid #dedede;margin-bottom:2rem;border-radius:5px;background-color:#eeeeee;}
.box-readmore li ul>li{margin:0;margin-bottom:8px}
.box-readmore li ul>li:before{content:counters(item,".") " "}
.box-readmore ul{list-style-type:none;counter-reset:item;margin-bottom:0px;padding-left:0px!important;margin-top:8px;}
.box-readmore ul li{display:table;counter-increment:item;margin-bottom:5px}
.box-readmore ul li:before{content:counters(item,".") ". ";display:table-cell;padding-right:5px}
.box-readmore ul li a{color:#333333;cursor:pointer;font-weight:600;}
.box-readmore ul li a:hover{color:#767676;}

/* Bài viết */
.news{width:49%;float:left;margin-bottom:25px;display:block;}
.news:nth-child(2n){float:right;}
.news:nth-child(2n+1){clear:both;}
.pic-news{float:left;margin-right:4%;width:36%;}
.pic-news img{width:100%;}
.info-news{float:left;width:60%;}
.name-news{color:#333;font-size:16px;display:block;line-height:normal;margin-bottom:5px;}
.name-news:hover{color:var(--color-red);}
.time-news{color:var(--color-gray);margin-bottom:0.25rem;}
.desc-news{color:#333333;margin-top:5px;line-height:22px;}
.share{padding:17px 10px 10px 10px;line-height:normal;background:rgba(128,128,128,0.15);margin-top:15px;border-radius:5px;}
.share b{display:block;margin-bottom:5px;}
.othernews b{margin-bottom:10px;}
.list-news-other{padding-left:17px;list-style:square;}
.list-news-other li{margin-bottom: 10px;}
.list-news-other li a{text-transform:none;color: #000;}
.list-news-other li a:hover{color: red;}

/* Contact */
.top-contact{display:flex;align-items:flex-start;justify-content:space-between;margin-bottom:30px;}
.top-contact .article-contact{width:100%;}
.form-contact{width:47%;}
.input-contact{position:relative;margin-bottom:15px;}
.input-contact input,.input-contact textarea{width:100%;padding:0px;outline:none;font-size:14px;border: 1px solid #ccc;}
.input-contact input{text-indent:10px;}
.input-contact textarea{resize:none;height:150px;padding:10px;}
.input-contact .custom-file-label::after{content:attr(title);}
.bottom-contact{position:relative;height:500px;}
.bottom-contact iframe{position:absolute;top:0px;left:0px;width:100%!important;height:100%!important;}

/* Footer */
.footer{position: relative;}
.logo-footer{margin-bottom: 15px;display: block;}

.footer-news{float: left;}
.social-footer{line-height: 40px;color: #B3B3B3}
.social-footer a{display: block;transition: all 1s;}
.social-footer a:hover{transition: all 1s;transform: rotate(360deg)}

.title_footer{color: #004D9D;font-size: 16px;margin-bottom: 20px;position: relative;font-family: 'AvertaPEBold';}
.info-footer{color: #000;font-family: 'AvertaPE';font-size: 16px;}
.copyright{color: #004D9D;position: relative;line-height: 20px;padding: 25px 0;font-size: 14px;border-top: 1px solid #5AB5CF;font-family: 'AvertaPE';text-align: center;}
.copyright span{font-family: 'AvertaPEBlack';}

/* footer_top_ */
.footer_top_{background: var(--color-main);padding-top: 1px}
.footer_top{line-height: 69px;}
.footer_top h3{color: #FFFFFF;font-family: 'AvertaPEBold';font-size: 16px;text-transform: uppercase;cursor: pointer;text-align: center;margin-bottom: 0;line-height: 69px}
.footer_top h3.slick-current{background: #FFFFFF;color: var(--color-main);}

.footer_bottom{padding: 60px 0 20px;}
.info-footer1{color: #004D9D;margin-bottom: 25px;}
.logo-ft{display: block;text-align: center}
.logo-ft img{margin:  0 auto;}
.info-footer2{font-family: 'AvertaPE';font-size: 15px;text-align: center;color: #004D9D;margin-top: 10px;line-height: 26px;}

.form-newsletter{position: relative;border-radius: 5px;overflow: hidden;}
.form-newsletter input{width: 100%;padding: 0 50px 0 15px;background: #F1F1F1;border: none;line-height: 42px;font-size: 13px;}
.form-newsletter input[type=submit]{width: 45px;display: inline-block;line-height: 42px;background: url('../images/send.png') no-repeat center;border: none;position: absolute;right: 0;top: 0;padding: 0;}
.qrcode .col-6{margin-top: 20px;text-align: center}
.qrcode .col-6 img{margin: 0 auto;}

.item_ft{margin-bottom: 20px;}
.item_ft h3{font-family: 'AvertaPEBold';font-size: 16px;text-transform: uppercase;color: var(--color-main);margin-bottom: 10px;}

/* album */
.item_album{margin-bottom: 30px;}
.item_album a{position: relative;cursor: pointer;}
.item_album span{position: absolute;font-weight: 600;font-size: 18px;text-align: center;text-transform: uppercase;color: #fff;line-height: 40px;height: 40px;overflow: hidden;text-overflow: ellipsis;-webkit-line-clamp: 1;display: -webkit-box;-webkit-box-orient: vertical;bottom: 0;left: 0;width: 100%;text-align: center;background: #00000054;}
.item_album:hover span{color: yellow;}

/* Like Share */
.social-plugin{display:flex;justify-content:flex-start;margin-top:10px;}
.social-plugin .at-share-btn{margin-bottom:0px!important;}
.social-plugin .zalo-share-button{margin-left:3px;}

/* Phân Trang */
.pagination-home .pagination .page-item .page-link{color:#555555;font-size:.875rem;}
.pagination-home .pagination .page-item.active .page-link{color:#ffffff;background-color:#555555;border-color:#555555;}

/* Phân Trang Ajax */
.pagination-ajax{text-align:center;}
.pagination-ajax a{display:inline-block;vertical-align:top;margin:0px 2px 3px 2px;color:#333;background:#eee;border:1px solid rgba(161,161,161,0.4);font-size:12px;cursor:pointer;padding:3px 10px 5px 10px;border-radius:2px;}
.pagination-ajax a.current,.pagination-ajax a:hover{background:var(--color-red);color:#fff;border-color:var(--color-red);}

/* Popup custom */
.modal-custom .modal-footer{padding:0.5rem;}
.modal-custom .modal-footer .btn{font-size:14px;}

/* Popup */
#popup .modal-body{padding:0px;}

/* Hidden Google Captcha */
.grecaptcha-badge{display:none!important;width:0px!important;height:0px!important;visibility:hidden!important;overflow:hidden;}

/* Hidden Check Grammar Coccoc */
coccocgrammar{display:none;}

/* Scroll Top */
.scrollToTop{width:41px;height:41px;text-align:center;font-weight:bold;color:#444;text-decoration:none;position:fixed;bottom:95px;right:34px;display:none;z-index:10;cursor:pointer;}

/* Text Hide */
.text-split{overflow:hidden;text-overflow:ellipsis;white-space:normal;-webkit-box-orient:vertical;display:-webkit-box;-webkit-line-clamp:3;}

/* Transition All */
.transition{-webkit-transition:0.3s ease-out;-moz-transition:0.3s ease-out;-o-transition:0.3s ease-out;transition:0.3s ease-out;}

/* Scale IMG */
.scale-img{overflow:hidden;display:block;margin-bottom: 0;}
.scale-img img{-webkit-transition:0.3s ease-out;-moz-transition:0.3s ease-out;-o-transition:0.3s ease-out;transition:0.3s ease-out;-moz-transform:scale(1,1);-webkit-transform:scale(1,1);-o-transform:scale(1,1);-ms-transform:scale(1,1);transform:scale(1,1);}
.scale-img:hover > img{-webkit-transition:0.3s ease-out;-moz-transition:0.3s ease-out;-o-transition:0.3s ease-out;transition:0.3s ease-out;-moz-transform:scale(1.1,1.1);-webkit-transform:scale(1.1,1.1);-o-transform:scale(1.1,1.1);-ms-transform:scale(1.1,1.1);transform:scale(1.1,1.1);}

/* Blink */
.blink{-webkit-animation-name:blink;-webkit-animation-duration:1s;-webkit-animation-timing-function:linear;-webkit-animation-iteration-count:infinite;-moz-animation-name:blink;-moz-animation-duration:1s;-moz-animation-timing-function:linear;-moz-animation-iteration-count:infinite;animation-name:blink;animation-duration:1s;animation-timing-function:linear;animation-iteration-count:infinite;}
@-moz-keyframes blink{
	0%{opacity:1.0;}
	50%{opacity:0.0;}
	100%{opacity:1.0;}
}
@-webkit-keyframes blink{
	0%{opacity:1.0;}
	50%{opacity:0.0;}
	100%{opacity:1.0;}
}
@keyframes blink{
	0%{opacity:1.0;}
	50%{opacity:0.0;}
	100%{opacity:1.0;}
}

/* Button Frame */
.btn-frame{display:block;width:50px;height:50px;position:fixed;right:20px;z-index:10;cursor:pointer;}
.btn-frame i{display:flex;display:-ms-flex;justify-content:center;align-items:center;-ms-flex-align:center;width:50px;height:50px;border-radius:50%;background:var(--color-main);position:relative;z-index:1;}
.btn-frame i img{vertical-align:middle;width:70%;}
.btn-frame .animated.infinite{animation-iteration-count:infinite;}
.btn-frame .kenit-alo-circle{width:60px;height:60px;top:-5px;right:-5px;position:absolute;background-color:transparent;-webkit-border-radius:100%;-moz-border-radius:100%;border-radius:100%;border:2px solid rgba(7,41,103,0.8);opacity:.1;border-color:var(--color-main);opacity:.5;}
.btn-frame .zoomIn{animation-name:zoomIn;}
.btn-frame .animated{animation-duration:1s;animation-fill-mode:both;}
.btn-frame .kenit-alo-circle-fill{width:70px;height:70px;top:-10px;right:-10px;position:absolute;-webkit-transition:all 0.2s ease-in-out;-moz-transition:all 0.2s ease-in-out;-ms-transition:all 0.2s ease-in-out;-o-transition:all 0.2s ease-in-out;transition:all 0.2s ease-in-out;-webkit-border-radius:100%;-moz-border-radius:100%;border-radius:100%;border:2px solid transparent;-webkit-transition:all .5s;-moz-transition:all .5s;-o-transition:all .5s;transition:all .5s;background-color:rgba(7,41,103,0.35);opacity:.4;}
.btn-frame .pulse{animation-name:pulse;}

/* Zalo */
.btn-zalo{bottom:315px;}

/* Phone */
.btn-phone{bottom:230px;}

/* Messenger */
.js-facebook-messenger-container.closed,.js-facebook-messenger-tooltip.closed{display:none!important}
.js-facebook-messenger-tooltip{bottom:97px;right:97px}
.js-facebook-messenger-tooltip{color:#404040;background:#fff}
.js-facebook-messenger-box,.js-facebook-messenger-button,.js-facebook-messenger-tooltip{z-index:999}
.js-facebook-messenger-tooltip{display:none;position:fixed;text-align:center;border-radius:10px;overflow:hidden;font-size:12px;line-height:1;padding:10px;border:1px solid rgba(0,0,0,0.1);box-shadow:rgba(0,0,0,0.15) 0 2pt 10pt;z-index:1.0E+30}
.js-facebook-messenger-close-tooltip{width:10px;height:10px;display:inline-block;cursor:pointer;margin-left:10px}
.js-facebook-messenger-box.rubberBand{-webkit-animation-name:rubberBand;animation-name:rubberBand}
.js-facebook-messenger-box.animated{-webkit-animation-duration:1s;animation-duration:1s;-webkit-animation-fill-mode:both;animation-fill-mode:both}
.js-facebook-messenger-box,.js-facebook-messenger-button,.js-facebook-messenger-tooltip{z-index:999}
.js-facebook-messenger-box{display:block;position:fixed;cursor:pointer;bottom:150px;right:17px;width:56px;height:56px;text-align:center;background:var(--color-main);border-radius:100%;overflow:hidden;z-index:99;-webkit-box-shadow:1px 1px 4px 0 rgba(0,0,0,0.3);-moz-box-shadow:1px 1px 4px 0 rgba(0,0,0,0.3);box-shadow:1px 1px 4px 0 rgba(0,0,0,0.3)}
.js-facebook-messenger-box.rotate svg#fb-msng-icon{transform:rotate(0deg)}
.js-facebook-messenger-box svg#fb-msng-icon{width:32px;height:33px;position:absolute;top:13px;left:12px;opacity:1;overflow:hidden;-webkit-transition:opacity 160ms ease-in-out,transform 160ms ease-in-out;-moz-transition:opacity 160ms ease-in-out,transform 160ms ease-in-out;-o-transition:opacity 160ms ease-in-out,transform 160ms ease-in-out;transition:opacity 160ms ease-in-out,transform 160ms ease-in-out;}
.js-facebook-messenger-box.rotate svg#close-icon{transform:rotate(-45deg)}
.js-facebook-messenger-box svg#close-icon{opacity:0;width:19px;height:20px;position:absolute;top:19px;left:19px;-webkit-transition:opacity 160ms ease-in-out,transform 160ms ease-in-out;-moz-transition:opacity 160ms ease-in-out,transform 160ms ease-in-out;-o-transition:opacity 160ms ease-in-out,transform 160ms ease-in-out;transition:opacity 160ms ease-in-out,transform 160ms ease-in-out;}
.js-facebook-messenger-container,.js-facebook-messenger-container-button{z-index:1000}
.js-facebook-messenger-container{position:fixed;opacity:0;transform:translateY(50px);bottom:110px;right:90px;border-radius:10px;pointer-events:none;box-shadow:0 1px 6px rgba(0,0,0,0.06),0 2px 32px rgba(0,0,0,0.16);-webkit-transition:transform 160ms ease-in-out,opacity 160ms ease-in-out;-moz-transition:transform 160ms ease-in-out,opacity 160ms ease-in-out;-o-transition:transform 160ms ease-in-out,opacity 160ms ease-in-out;transition:transform 160ms ease-in-out,opacity 160ms ease-in-out}
.js-facebook-messenger-top-header{width:220px}
.js-facebook-messenger-top-header{color:#fff;background:var(--color-main)}
.js-facebook-messenger-top-header{display:block;position:relative;width:220px;background:var(--color-main);color:#fff;text-align:center;line-height:1;padding:10px;font-size:14px;border-top-left-radius:10px;border-top-right-radius:10px}
.js-facebook-messenger-container iframe,.js-facebook-messenger-container-button iframe{border-bottom-left-radius:10px;border-bottom-right-radius:10px}
.js-facebook-messenger-box,.js-facebook-messenger-button,.js-facebook-messenger-tooltip{z-index:999}
.js-facebook-messenger-container,.js-facebook-messenger-container-button{z-index:1000}
.js-facebook-messenger-top-header{color:#fff;background:var(--color-main)}
.js-facebook-messenger-top-header{width:220px}
.js-facebook-messenger-tooltip{color:#404040;background:#fff}
.js-facebook-messenger-container.open{transform:translateY(0px);opacity:1;pointer-events:all}
.js-facebook-messenger-tooltip{bottom:97px;right:97px}
.js-facebook-messenger-box.open svg#fb-msng-icon{opacity:0}
.js-facebook-messenger-box.rotate.open svg#close-icon{transform:rotate(0deg)}
.js-facebook-messenger-box.open svg#close-icon{opacity:1}

/* Toolbar */
.toolbar{background:var(--color-red);width:100%;padding:3vw;bottom:0px;position:fixed;z-index:500;height:auto;left:0px;}
.toolbar ul{list-style:none;display:flex;align-items:center;justify-content:space-between;padding:0px;margin:0px;}
.toolbar ul li{text-align:center;width:25%;}
.toolbar ul li a{display:block;width:100%;cursor:pointer;}
.toolbar ul li a img{height:6vw;width:auto;}
.toolbar ul li a span{font-weight:400;color:#fff;font-size:3.5vw;display:none;}

/* Fixbar */
.fixbar{bottom:0;display:block;background:#f0eff4;border-top:1px solid #ddd;width:100%;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;position:fixed;margin:0;z-index:500;-webkit-backface-visibility:hidden;backface-visibility:hidden;height:50px;}
.fixbar ul{margin:0px;padding:0px;list-style:none;}
.fixbar ul li{display:inline-block;margin:0 auto 10px;text-align:center;width:25%;float:left;}
.fixbar .icon-cart-mobile,.fixbar .icon-cart-new,.fixbar .icon-home-new,.fixbar .icon-hotdeal-new{width:20px;height:20px;display:block;margin:8px auto 0;}
.fixbar .icon-cart-mobile{background:url(../images/cart-mobile.png) no-repeat;}
.cart-total-header-mobile{font-size:10px;position:absolute;background:red;color:#fff!important;border-radius:50%;height:15px;width:15px;line-height:15px;top:5px;margin-left:5px;}
.fixbar ul li a{font-size:11px;text-decoration:none;color:#333;}
.fixbar ul li a i{font-size:20px;}

/* Plugbar */
.plugbar{position:fixed;bottom:0;left:0;border-top:1px solid #eae6e6;width:100%;right:0;max-width:767px;margin:0 auto;background:#fff;padding:9px 10px 10px 7px;z-index:10;}
.plugbar ul{list-style:none;padding:0;margin:0px;display:-webkit-flex;display:-moz-flex;display:flex;justify-content:space-between;align-items:center;}
.plugbar ul li{width:20%;float:left;}
.plugbar ul li a{display:block;color:#696969;font-size:12px;text-align:center;position:relative;}
.plugbar ul li a i{font-size:20px;color:#696969;}
.plugbar ul li a span{position:absolute;width:50px;height:50px;top:-40px;left:calc(50% - 50px/2);font-size:14px;display:block;border:1px solid rgba(234,230,230,0.5);border-radius:100%;}

/* Combo Phone */
.support-online{position:fixed;z-index:999;left:10px;bottom:0px;}
.support-online a{position:relative;margin:20px 10px;text-align:left;width:40px;height:40px;}
.support-online i{width:40px;height:40px;background:#43a1f3;color:#fff;border-radius:100%;font-size:20px;text-align:center;line-height:1.9;position:relative;z-index:999;}
.support-online a span{border-radius:2px;text-align:center;background:rgb(103,182,52);padding:9px;display:none;width:180px;margin-left:10px;position:absolute;color:#ffffff;z-index:999;top:0px;left:40px;transition:all 0.2s ease-in-out 0s;-moz-animation:headerAnimation 0.7s 1;-webkit-animation:headerAnimation 0.7s 1;-o-animation:headerAnimation 0.7s 1;animation:headerAnimation 0.7s 1;}
.support-online a:hover span{display:block;}
.support-online a{display:block;}
.support-online a span:before{content:"";width:0;height:0;border-style:solid;border-width:10px 10px 10px 0;border-color:transparent  rgb(103,182,52) transparent transparent;position:absolute;left:-10px;top:10px;}
.support-online .kenit-alo-circle-fill{width:60px;height:60px;top:-10px;position:absolute;-webkit-transition:all 0.2s ease-in-out;-moz-transition:all 0.2s ease-in-out;-ms-transition:all 0.2s ease-in-out;-o-transition:all 0.2s ease-in-out;transition:all 0.2s ease-in-out;-webkit-border-radius:100%;-moz-border-radius:100%;border-radius:100%;border:2px solid transparent;-webkit-transition:all .5s;-moz-transition:all .5s;-o-transition:all .5s;transition:all .5s;background-color:rgba(0,175,242,0.5);opacity:.75;right:-10px;}
.support-online .kenit-alo-circle{width:50px;height:50px;top:-5px;right:-5px;position:absolute;background-color:transparent;-webkit-border-radius:100%;-moz-border-radius:100%;border-radius:100%;border:2px solid rgba(30,30,30,0.4);opacity:.1;border-color:#0089B9;opacity:.5;}
.support-online .support-online .btn-support{cursor:pointer;}
.support-online .mes i{background:orange;}
.support-online .sms i{background:red;}
.support-online .call-now i{background:green;}

/* Phone Switch */
.widget-mobile{position:fixed;left:50%;transform:translateX(-50%);bottom:10px;z-index:9999999;}
#my-phone-circle{position:relative;width:50px!important;height:50px!important;}
.wcircle-open .wcircle-icon i:before{content:'\f00d';}
.wcircle-icon{background:#1282fc;border-radius:50%;display:flex!important;display:-ms-flex!important;align-items:center;-ms-flex-align:center;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;position:relative!important;}
.wcircle-icon:before{position:absolute;content:'';width:60px;height:60px;background:rgba(18,130,252,.5);border:1px solid #fff;border-radius:50%;left:-5px;top:-5px;-webkit-animation:pulse 1s infinite ease-in-out;-moz-animation:pulse 1s infinite ease-in-out;-ms-animation:pulse 1s infinite ease-in-out;-o-animation:pulse 1s infinite ease-in-out;animation:pulse 1s infinite ease-in-out;}
.wcircle-icon:after{position:absolute;content:'';width:80px;height:80px;background:rgba(18,130,252,.5);border-radius:50%;left:-15px;top:-15px;-webkit-animation:zoomIn 2s infinite ease-in-out;-moz-animation:zoomIn 2s infinite ease-in-out;-ms-animation:zoomIn 2s infinite ease-in-out;-o-animation:zoomIn 2s infinite ease-in-out;animation:zoomIn 2s infinite ease-in-out;}
.wcircle-menu{position:absolute!important;left:0;top:0;display:none;}
.wcircle-menu-item{width:50px;height:50px;background:#1282fc;border-radius:50%;display:flex;display:-ms-flex;align-items:center;-ms-flex-align:center;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;}
.wcircle-menu-item img{width:50px;height:50px;display:block;border-radius:50%;}
.wcircle-menu-item i,.wcircle-icon i{font-size:25px;color:#fff;position:relative;z-index:9999;}
.shake-anim{-webkit-animation:shake-anim 1s infinite ease-in-out;-moz-animation:shake-anim 1s infinite ease-in-out;-ms-animation:shake-anim 1s infinite ease-in-out;-o-animation:shake-anim 1s infinite ease-in-out;animation:shake-anim 1s infinite ease-in-out;-webkit-transform-origin:50% 50%;-moz-transform-origin:50% 50%;-ms-transform-origin:50% 50%;-o-transform-origin:50% 50%;transform-origin:50% 50%}
@-moz-keyframes shake-anim{
	0%{transform:rotate(0) scale(1) skew(1deg)}
	10%,30%{-moz-transform:rotate(-25deg) scale(1) skew(1deg)}
	20%,40%{-moz-transform:rotate(25deg) scale(1) skew(1deg)}
	100%,50%{-moz-transform:rotate(0) scale(1) skew(1deg)}
}
@-webkit-keyframes shake-anim{
	0%,100%,50%{-webkit-transform:rotate(0) scale(1) skew(1deg)}
	10%,30%{-webkit-transform:rotate(-25deg) scale(1) skew(1deg)}
	20%,40%{-webkit-transform:rotate(25deg) scale(1) skew(1deg)}
}
@-o-keyframes shake-anim{
	0%,100%,50%{-o-transform:rotate(0) scale(1) skew(1deg)}
	10%,30%{-o-transform:rotate(-25deg) scale(1) skew(1deg)}
	20%,40%{-o-transform:rotate(25deg) scale(1) skew(1deg)}
}

/* news */
.left-content{width: calc(100% - 320px);margin-right: 40px;}
.right-content{width:280px;}
.blog-item{display: flex;flex-flow:wrap;position: relative;margin-bottom: 30px;width: 100%}
.blog-item .blog-item-thumbnail{width: 100%;overflow:hidden;margin-bottom: 10px;}
.blog-item .blog-item-thumbnail img{width: 100%;}
.blog-item .blog-item-mains{width: 100%;}
.blog-item .blog-item-mains .blog-item-name{line-height: 24px;margin-bottom: 5px;}
.blog-item .blog-item-mains .blog-item-name a{color: #000;font-size: 17px;font-weight: 700;display: -webkit-box;width: 100%;-webkit-line-clamp: 1;-webkit-box-orient: vertical;overflow: hidden;text-overflow: ellipsis;line-height: 25px;height: 25px;}
.blog-item .blog-item-mains .blog-item-name a:hover{color:#ff0000}
.blog-item .blog-item-mains .post-time{font-size: 13px; color: #999; margin-bottom: 5px;font-family:var(--font-main)}
.blog-item .blog-item-mains .blog-item-summary{color: #000;font-weight:400;font-family:var(--font-main);display: -webkit-box;width: 100%;-webkit-line-clamp: 3;-webkit-box-orient: vertical;overflow: hidden;text-overflow: ellipsis;line-height:24px;font-size:15px;}
.blog-item::after{content: ""; display: block; width: 100%; height: 1px; background: #eee; position: absolute; left: 0; bottom: -15px; }
.zoom-thumbnail img {-webkit-transition: all 1s ease-in-out 0s; -khtml-transition: all 1s ease-in-out 0s; -moz-transition: all 1s ease-in-out 0s; -ms-transition: all 1s ease-in-out 0s; -o-transition: all 1s ease-in-out 0s; transition: all 1s ease-in-out 0s; -webkit-transform: scale(1); -khtml-transform: scale(1); -moz-transform: scale(1); -ms-transform: scale(1); -o-transform: scale(1); transform: scale(1); }
.zoom-thumbnail:hover img {-webkit-transform: scale(1.2); -khtml-transform: scale(1.2); -moz-transform: scale(1.2); -ms-transform: scale(1.2); -o-transform: scale(1.2); transform: scale(1.2) }
.aside--sticky { position: -webkit-sticky; position: sticky; }
.group-sidebox { margin: 0 0 20px; position: relative; padding: 10px 10px; border: 1px solid #e7e7e7; }
.group-sidebox .sidebox-title h3 { font-size: 18px; text-transform: uppercase; margin-bottom: 10px; padding-bottom: 10px; border-bottom: 2px solid #323232; text-align: center; position: relative; color: #000000; font-weight: 700; font-family: var(--font-main) }
.list-latest .item-article{display: flex;position: relative;}
.list-latest .item-article:not(:last-child){margin-bottom:10px;}
.list-latest .item-article:not(:last-child):after{content: ""; display: block; width: 100%; height: 1px; background: #eee; position: absolute; left: 0; bottom: -5px;}
.list-latest .item-article .post-image {width: 30%; position: relative; }
.list-latest .item-article .post-image img{width: 100%;height: 100%;object-fit: cover}
.list-latest .item-article .post-content {width: 70%; padding-left: 10px; }
.list-latest .item-article .post-content h3 {line-height: 20px}
.list-latest .item-article .post-content h3 a {white-space: initial; overflow: hidden; -webkit-line-clamp: 2; -webkit-box-orient: vertical; display: -webkit-box;color: #000000;font-family: var(--font-main);font-weight:500;line-height:18px;font-size: 15px;}
.list-latest .item-article .post-content h3 a:hover{color: #ff0000}
.list-latest .item-article .post-content .post-meta {font-size: 13px;font-family: var(--font-main);color:#999}
.list-latest .item-article .post-content .post-meta-price span:nth-child(2){color: #e60e0e;font-weight: 700}

/* service */
.service{padding: 60px 0;}
.service_top{max-width: 600px;margin: 0 auto;margin-top: -10px;margin-bottom: 30px;}
.service_top h3{cursor: pointer;color: #363636;font-size: 18px;font-family: 'AvertaPE';text-align: center;padding: 0 10px;}
.service_top h3.slick-current{color: var(--color-main)}
.service_top,.service_bottom{display: none}
.service_bottom .slick-prev {width: 30px;height: 56px;background: url('../images/left.png') !important;left: -50px;opacity: 1;z-index: 9;top: 35%;}
.service_bottom .slick-next { width: 30px; height: 56px; background: url('../images/right.png') !important; right: -50px; opacity: 1; top: 35%;}
.service_bottom .slick-prev:before { content: ''; }
.service_bottom .slick-next:before { content: ''; }

.service_bottom{max-width: 950px;margin: 0 auto;}
.item_service{text-align: center}
.img_service{margin-bottom: 30px;}
.info_service h3{font-size: 20px;font-family: 'AvertaPEBold';margin-bottom: 10px;font-weight: unset;text-transform: capitalize;}
.info_service h3 a{color: #2F2F2F;overflow: hidden;text-overflow: ellipsis;line-height: 25px;-webkit-line-clamp: 1;display: -webkit-box;-webkit-box-orient: vertical;}
.item_service:hover .info_service h3 a{color: var(--color-main);}
.info_service span{overflow: hidden;text-overflow: ellipsis;line-height: 22px;-webkit-line-clamp: 2;display: -webkit-box;-webkit-box-orient: vertical;color: #000;font-size: 16px;font-family: 'AvertaPELight';margin-bottom: 20px;}
.more_service{width: 265px;line-height: 48px;border: 1px solid #004E9D;color: #004D9D;text-transform: capitalize;text-align: center;border-radius: 500px;display: inline-block;font-family: 'AvertaPE';font-size: 16px;}
.more_service:hover{background: #004E9D;color: #fff;}
.slick_advertise{display: none}
.slick_advertise img{width: 100%}



/* about_index */
.about_home{position: relative;padding: 50px 0;}
.title_about{position: relative;margin-bottom: 10px;}
.title_about span{color: var(--color-main);font-family: 'AvertaPELight';font-size: 36px;display: block;position: relative;text-transform: uppercase;margin-bottom: -10px;}
.title_about h3{color: var(--color-main);font-family: 'AvertaPEBold';text-transform: capitalize;font-size: 60px;margin-bottom: 0;}
.des_about{color: #000;font-size: 16px;line-height: 27px;max-width: 800px;margin: 0 auto;font-family: 'AvertaPELight';margin-bottom: 25px;}
.more_about{width: 155px;line-height: 41px;border-radius: 500px;background: var(--color-main);color: #fff;font-family: 'AvertaPELight';font-size: 16px;display: inline-block;}
.more_about:hover{background: #073564;color: #fff;}
.box_about{margin-top: 40px;}
.item_advertise1{text-align: left}
.img_advertise{border-radius: 5px;overflow: hidden;margin-bottom: 15px;}
.info_advertise h3{color: #2F2F2F;font-size: 18px;font-family: 'AvertaPEBold';overflow: hidden;text-overflow: ellipsis;line-height: 25px;-webkit-line-clamp: 1;display: -webkit-box;-webkit-box-orient: vertical;margin-bottom: 0;}
.info_advertise span{color: #000;font-size: 14px;font-family: 'AvertaPELight';overflow: hidden;text-overflow: ellipsis;line-height: 20px;-webkit-line-clamp: 2;display: -webkit-box;-webkit-box-orient: vertical;}

/* feedback */
.feedback{padding: 30px 0;}
.box_feedback { display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; margin: -10px -4px 20px -4px;}
.item_feedback_{padding: 5px 4px;}
.item_feedback{padding: 10px;}
.item_feedback:hover { -webkit-box-shadow: 0px 0px 5px 0px rgba(173, 173, 173, 1); -moz-box-shadow: 0px 0px 5px 0px rgba(173, 173, 173, 1); box-shadow: 0px 0px 5px 0px rgba(173, 173, 173, 1); }
.img_feedback{margin-bottom: 10px;}
.info_feedback{padding: 0 12px;}
.info_feedback h3{font-size: 18px;font-family: 'AvertaPEBold';margin-bottom: 0;width: 100%;}
.info_feedback h3 a{color: #323232;overflow: hidden;text-overflow: ellipsis;line-height: 25px;-webkit-line-clamp: 1;display: -webkit-box;-webkit-box-orient: vertical;}
.item_feedback:hover .info_feedback h3 a{color: var(--color-main);}
.info_feedback span{color: #525252;font-size: 14px;line-height: 20px;overflow: hidden;text-overflow: ellipsis;-webkit-line-clamp: 1;display: -webkit-box;-webkit-box-orient: vertical;font-family: 'AvertaPELight';}

/* faceinch */
.faceinch{padding: 30px 0;}
.box_faceinch{max-width: 950px;margin: 0 auto;}
.img_faceinch{border-radius: 10px;overflow: hidden;margin-bottom: 10px;}
.info_faceinch{text-align: center;padding: 30px;border: 2px solid var(--color-main);border-radius: 15px;}
.info_faceinch h3{margin-bottom: 15px;color: #004D9D;font-size: 36px;font-family: 'AvertaPELight';}

/* stepbystep */
.stepbystep{padding: 30px 0;}
.item_stepbystep{text-align: center;position: relative}
.item_stepbystep::before{position: absolute;content: "";width: 11px;height: 16px;background: url('../images/icon_step.png') no-repeat;top: 35%; right: -35px;}
.item_stepbystep > a{border: 1px solid #E5E5E5;border-radius: 20px;overflow: hidden;display: block;margin-bottom: 10px;}
.item_stepbystep h3{color: #004D9D;font-family: 'AvertaPEBold';overflow: hidden;text-overflow: ellipsis;line-height: 25px;-webkit-line-clamp: 1;display: -webkit-box;-webkit-box-orient: vertical;font-size: 18px;}


.breadCrumbs-service{background: #004D9D;padding: 15px 10px;text-align: center;color: #fff;font-size: 30px;font-weight: 700;text-transform: uppercase;}
.breadCrumbs-service .wrap-content{position: relative;}
.breadCrumbs-service a{position: absolute;right: 0px;font-size: 30px;color: #fff;}

.wrap-package{padding: 50px 0px 0px;}
.left-package{width: calc(100% - 200px);display: flex;justify-content: space-between;align-items: flex-start;}
.img-package{width: 120px;border: 3px solid #004D9D;border-radius: 10px;overflow: hidden;}
.info-package{width: calc(100% - 140px);}
.info-package h3{color: #004D9D;font-size: 30px;text-transform: uppercase;margin-bottom: 5px;font-weight: 700;}
.info-package p{margin-bottom: 0px;color: #A3B4D1;font-size: 18px;}
.table-package{width: 100%;display: flex;border-top: 2px solid #004F9D;flex-wrap: wrap;}
.table-package .col-package{width: calc(100% / 3);border-bottom: 2px solid #004F9D;}
.table-package .col-package .name{color: #004D9D;font-weight: 700;font-size: 18px;text-transform: uppercase;padding: 10px;}
.table-package .col-package .desc{color: #004D9D;font-weight: 400;font-size: 18px;padding: 10px;}
.table-package .col-package:nth-child(2),.table-package .col-package:nth-child(5){border-left: 2px solid #004F9D;border-right: 2px solid #004F9D;}
.wrap-slogan{background: #83CEE5;padding: 30px 10px;font-size: 18px;color: #fff;}





/* Responsive */
@media(min-width:1200px){
	/*.header.fix {-webkit-animation: fadeInDown 0s ease-in backwards;-moz-animation: fadeInDown 0s ease-in backwards;-o-animation: fadeInDown 0s ease-in backwards;-ms-animation: fadeInDown 0s ease-in backwards;-moz-animation-delay: 0s;-webkit-animation-delay: 0s;-o-animation-delay: 0s;animation-delay: 0s;z-index: 999;-webkit-box-shadow: 0px 5px 5px 0px rgba(148, 145, 148, 1);-moz-box-shadow: 0px 5px 5px 0px rgba(148, 145, 148, 1);box-shadow: 0px 5px 5px 0px rgba(148, 145, 148, 1);position: fixed;top: 0;left: 0;width: 100%;}*/
	.header.fix .logo-header img{height: 60px;}
}
@media(max-width:1200px){
	body{padding-top:0;}
	.menu,.search,.header_top{display:none;}
	.menu-res,.search-res{display:block;}	
	.prev-project,.prev-factory{left: 10px;}
	.next-project,.next-factory{right: 10px;}
	.mm-page{overflow: hidden}
	.menu-res.fix {-webkit-animation: fadeInDown 0s ease-in backwards;-moz-animation: fadeInDown 0s ease-in backwards;-o-animation: fadeInDown 0s ease-in backwards;-ms-animation: fadeInDown 0s ease-in backwards;-moz-animation-delay: 0s;-webkit-animation-delay: 0s;-o-animation-delay: 0s;animation-delay: 0s;z-index: 999;-webkit-box-shadow: 0px 5px 5px 0px rgba(148, 145, 148, 1);-moz-box-shadow: 0px 5px 5px 0px rgba(148, 145, 148, 1);box-shadow: 0px 5px 5px 0px rgba(148, 145, 148, 1);position: fixed;top: 0;left: 0;width: 100%;}
	.logo-header img{height: 90px;}	
	.logo-header{display: block;text-align: center;margin: 0 auto;}
	.header_bottom{padding: 5px 0;}
	.footer_top h3{font-size: 14px;}
	.breadCrumbs-service{margin-top: 1px;font-size: 20px;padding: 10px;}
	.breadCrumbs-service a{font-size: 20px;}


}

@media(min-width:992px){
	.footer-news1{padding: 0 80px;}
}
@media(max-width:992px){	
	.footer-news{margin-bottom: 20px;}
	.footer-news:last-child{margin-bottom: 0;}	
	.copyright{line-height: 20px;}				
}
@media(max-width:850px){
	.title_about span{font-size: 25px;margin-bottom: 0;}
	.title_about h3{font-size: 40px;}
}
@media(max-width:769px){
	.top-contact{flex-wrap:wrap;}		
	.title-main span,.title-main2 span,.title_center span{font-size: 25px;}
	.title_about h3{font-size: 25px;}	
	.menu-bar-res ul{font-size: 15px;}
	.wrap-package{padding-top: 25px;}
	.wrap-package .mb-5{margin-bottom: 25px !important;}
	.table-package .col-package .name{font-size: 14px;}
	.table-package .col-package .desc{font-size: 14px;}
	.left-package{width: 100%;margin-bottom: 20px;}
	.right-package{width: 100%;}
	.wrap-slogan{padding: 20px 10px;font-size: 16px;}
	.img-package{width: 100px;}
	.info-package{width: calc(100% - 115px);}
	.info-package h3{font-size: 20px;}
	.info-package p{font-size: 15px;}
}
@media(max-width:440px){
	.pic-news,.info-news{display:block;width:100%;float:none;text-align:center;margin:0px;}
	.info-news{margin-top:15px;}	
	.more_service{width: 200px;line-height: 40px;}
}
